.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}
.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.1rem 0rem !important;
  margin-bottom: 0rem;
  list-style: none;
  background-color: #ffffff;
  border-radius: 0.25rem;
}

.single_product {
  background-color: #e5e5e5;
  padding-left: 1%;
  padding-right: 1%;
  /* height: 100%; */
  /* padding: 1% auto; */
}

.image_selected {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% + 15px);
  height: 525px;
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
  transform: translateX(-15px);
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 15px;
}
.image_selected img {
  max-width: 100%;
}

.product_name {
  font-size: 40px;
  font-weight: bold;
  margin-top: 1rem;
}

.product_price {
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  margin: 0.625rem auto;
  clear: left;
}

.product_discount {
  display: inline-block;
  font-size: 18px;
  /* margin-top: 1rem; */
  clear: left;
  margin-left: 0.6725rem;
  color: red;
}

.product_saved {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  color: #383f51;
  clear: left;
}

.singleline {
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  border-top: 1px solid black;
}

.product_info {
  color: #4d4d4d;
  display: inline-block;
}

.product_quantity {
  width: 10rem;
  margin: 2%;
  margin-left: -2%;
  border: solid 1px #e5e5e5;
  border-radius: 0.625rem;
  overflow: hidden;
  padding-left: 3%;
  float: left;
}

.product_quantity span {
  display: block;
  padding-right: 0.25rem;
  font-size: 25px;
  font-weight: bold;
  color: #383f51;
  line-height: 50px;
  float: left;
}

.product_quantity input {
  display: block;
  width: 3rem;
  height: 50px;
  border: none;
  outline: none;
  font-size: 20px;
  color: #383f51;
  text-align: center;
  padding: auto 5rem;
  line-height: 50px;
  float: left;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.shop-button {
  margin: 2%;
  margin-left: 0;
  font-weight: bold;
  font-size: 25px;
  width: 10rem;
  background: #ff8888;
  color: #383f51;
  border-radius: 0.625rem;
}
.shop-button:hover {
  background-color: #ff8888;
}
