.gradient-custom {
  /* fallback for old browsers */
  background: #e5e5e5;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #383f51, #7989ae);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #383f51, #7989ae);
}

.sign-up-heading {
  color: #383f51;
  font-size: 50px;
}

.signupImg {
  border-radius: 1rem 0 0 1rem;
  width: 100%;
  height: 41rem;
  padding: 0;
}

.signupBtn {
  background-color: #ff8888;
  color: #383f51;
}

.signupBtn:hover {
  background-color: #ff8888;
}

.signup-input-field {
  border-radius: 1rem;
  padding: 0 auto;
  width: 90%;

  /* font-size: 14px; */
}
