.accountform{
    margin: 25px;
    display: block;
    margin-left: 40%;
    width: 15rem;
}

.Headings{
    
    text-align: center;
}



#save{
    display: inline;
    background-color: #ff8888;
    color: #383f51;
    margin-left: 38%;
    
    
}

#pwd{
    display: inline;
    background-color: #ff8888;
    color: #383f51;
    margin-left: 40%;
    margin: 2rem;
}

#accountaddress{
    height:5rem;
    text-align:start;
    margin-left: 40%;
}

textarea{
    resize: none;
}